@using WeatherWorryWonder.Models

@model ResultView
@{
    ViewBag.Title = "AQI";
}

<h2>AQI</h2>
<p>Local AQI: </p>@Model.O3AQI <br />
<p>Tomorrow's AQI: </p>@Model.PredictedAQITomorrow<br />
<p>EPA AQI: </p>@Model.EpaAQI

