<h3>Reduce Ozone While Driving</h3><br />
•	Carpool and combine errands to reduce trips.<br />
•	Bike, walk or ride the bus when possible.<br />
•	Keep personal vehicles well-tuned and tires inflated properly. You can save up to 20% on the amount of gasoline you use.<br />
•	Pressure check vehicle gas caps annually and replace when necessary. A faulty gas cap can allow up to 30 gallons of fuel per year to evaporate.<br />
•	Refuel as late in the day as possible (after 7 pm preferably), especially on ozone alert days.<br />
•	Stop at the click. Don't top off your tank when you refuel. This keeps harmful fumes from being forced into the air.<br />
•	Avoid excessive idling of your automobile.<br />