<h3>On The Grill</h3><br />
•	Do not use lighter fluid. It pollutes on both evaporation and burning. Your food will taste better without it, too!<br />
•	Use a charcoal chimney instead of lighter fluid to start the coals. They are easy to use and leave no telltale taste in the food.<br />
•	Choose briquettes that are additive-free and avoid any added chemicals flavors to the food.<br />
•	Gas grills emit less pollution than charcoal grills.<br />
•	Postpone grilling until evening on ozone alert days.<br />