<head>
    <meta charset="UTF-8" />
    <meta name="application-name" content="WeatherWonderWorry" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WeatherWonderWorry</title>
    <link rel="stylesheet" type="text/css" href="~/Content/OzoneRecommendations.css">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li class="nav-item" id="atHome">At Home</li>
            <li class="nav-item" id="driving">Driving</li>
            <li class="nav-item" id="yardwork">Doing Yardwork</li>
            <li class="nav-item" id="office">At the Office</li>
            <li class="nav-item" id="grilling">Grilling</li>
        </ul>
    </nav>
    <div id="jumbotron">
        <h1 id="title"></h1>
    </div>    
    <ul class="tips"></ul>        
    <div class="container">
    </div>    
    <footer>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
        <script src="~/Scripts/OzoneRecs.js"></script>
    </footer>
    <script src="~/Scripts/OzoneRecs.js"></script>
</body>