@using WeatherWorryWonder.Models
@model List<Sensor>
@{ 
    double latitude = (double)Math.Round(Model[0].Lat, 3);
    double longitude = (double)Math.Round(Model[0].Long, 3);
}

@foreach(Sensor s in Model)
{
    <p>@s.Name</p>
}

<div id="map"></div>
<script>
    debugger;
    var map;
    let latitude = @latitude;
    let longitude = @longitude;
    var sensor = { lat: latitude, lng: longitude }
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: sensor,
            zoom: 14
        });
        var marker = new google.maps.Marker({ position: sensor, label: "Closest Marker", map: map })
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=@APIKeys.GoogleMapsAPI&callback=initMap"
        async defer></script>