
body {
    height: auto;
    margin: 0px;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.main {
    display: grid;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-areas: "AQI AQI map map" 
                        "recommend recommend map map"
                        "weather weather future future"
                        "VOC VOC other other";
}

#welcome {
    margin: 20px 0px 20px 0px;
    text-align: center;
    width: 100%;
}
#flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:center;
    height: auto;
}

#indexMap {
    height: 300px;
    width: 400px;
}

#video {
    width: 800px;
    height: 460px;
    margin: auto;
}
.flexItem {
    width: 800px;
    height: auto;
}

img{
    width: 100%;
    margin: auto;
}

#map {
    grid-area: map;
    height: 400px;
    width: 600px;
    margin: auto;
}

.AQI {
    grid-area: AQI;
}

.futureAQI {
    grid-area: future;
}

.otherPollutants {
    grid-area: other;
}

.recommendations {
    grid-area: recommend;
}

.VOC {
    grid-area: VOC;
}

.header {
    text-align: center;
}

.submit {
    width: 600px;
    margin: 20px 0px 20px 0px;
}