<form action="myaction">
    <select name="">
    <option value="volvo">
        Volvo </ option >
        < option value="saab">Saab
    </option>
    <option value="opel">
        Opel </ option >
        < option value="audi">Audi
    </option>
    </select>
    <input type="submit" />
    </ form >
    }
    }

