<h3>In the Yard</h3>>
•	Mow as late as possible, preferably after 7 pm, when there is less sun and heat.<br />
•	Replace older gas cans with new "no-spill" gas cans for refueling equipment. Emissions from gasoline spills are major contributors to ozone.<br />
•	Practice low-maintenance lawn care, requiring less frequent mowing and less inputs of polluting chemical pesticides.<br />
•	Consider replacing any gasoline powered equipment with electric, batter or manual powered equipment.<br />
•	Convert lawn spaces to native plants to reduce the amount of mowing and watering.<br />
•	Avoid open burning and mulch or compost leaves and yard waste.<br />
